{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <style></style>
    </head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/newlogo.png' %}" alt="Logo" class="img-fluid logo" style="max-height: 40px">
                PMK
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add' %}">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'generate' %}">Generate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




<!-- <h1 class="text-center">Generate page</h1> -->
<div class="container py-5">

    <form class="p-md-5 border rounded-3 text-light bg-dark needs-validation" novalidate>
        <!-- Message input -->
        <div class="mb-3">
            <label for="message" class="form-label">Generated Password will be displayed here</label>
            <textarea class="form-control" id="message" rows="4" required></textarea>
            <div class="invalid-feedback">Please enter a message.</div>
        </div>

        <!-- Name input -->
        <div class="mb-3">
            <label for="name" class="form-label">Account Name</label>
            <input type="text" id="name" class="form-control" required />
            <div class="invalid-feedback">Please the name of the account like Gmail.</div>
        </div>

        <!-- Email input -->
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" id="email" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>

        <!-- Password Length Slider -->
        <div class="mb-3">
            <label for="passwordLength" class="form-label">Password Length</label>
            <input type="range" class="form-range" id="passwordLength" required>
            <div class="invalid-feedback">Please select a password length.</div>
        </div>

        <!-- Switch Checkboxes -->
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="defaultSwitch1" required>
            <label class="form-check-label" for="defaultSwitch1">Include capital letters A-Z</label>
            <div class="invalid-feedback">Please check this checkbox.</div>
        </div>
        <!-- Switch Checkboxes -->
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="defaultSwitch1" required>
            <label class="form-check-label" for="defaultSwitch1">Include small letters a-z</label>
            <div class="invalid-feedback">Please check this checkbox.</div>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="defaultSwitch2" required>
            <label class="form-check-label" for="defaultSwitch2">include numbers</label>
            <div class="invalid-feedback">Please check this checkbox.</div>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="defaultSwitch3" required>
            <label class="form-check-label" for="defaultSwitch3">Include Special Charecters</label>
            <div class="invalid-feedback">Please check this checkbox.</div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn bg-light d-flex justify-content-between align-items-center text-center">
            Generate Password <i class="fa fa-arrows-spin fa-3x"></i>
        </button>

        
    </form>
</div>




    <footer class="text-center mt-4 bg-light text-dark">
        <div class="text-center text-light  bg-dark p-3">
            © 2020 Copyright:
            <a class="text-warning" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>

