{% extends 'PMKAPP/base.html' %}
<!-- Extends the 'base.html' template, inheriting its structure and content. -->

{% load static %}
<!-- Loads the 'static' template tag library to handle static files like CSS and JavaScript. -->

{% block title %}Home Page{% endblock %}
<!-- Sets the title of this page to 'Home Page'. -->

{% block content %}
<!-- Defines a block named 'content' where the content for this page will be placed. -->

<!-- Displays a centered heading for the landing page. -->

<!-- 
    <div class="p-5  mb-2  hero ">
      <div class="py-5 text-center">
        <h1 class="display-5 fw-bold ">PMK</h1>
        <p class="fs-5 hero-text">
            Experience professional-grade online security with PMK. Generate strong passwords and safeguard your accounts with advanced encryption technology.
        </p>
        </div>
        <div class="container text-center">
        <button class="btn  mr-2 btn-primary btn-lg text-center" type="button">
          Download <i class="fa fa-download fa-1x"></i>
        </button>
        <button class="btn btn-primary btn-lg text-center" type="button">
            Learn More <i class="fa fa-file fa-1x"></i>
          </button>
      </div>
    </div> -->
<div class="p-5 mb-2 hero">
  <div class="py-5 text-center">
    <h1 class="display-5 fw-bold text-white heroText">PMK</h1>
    <p class="fs-5 text-white shadow p-3 mb-5 heroText">
      Experience professional-grade online security with PMK. Generate strong
      passwords and safeguard your accounts with advanced encryption technology.
    </p>
  </div>
  <div class="container text-center">
    <button class="btn mr-2 mb-2 btn-primary btn-lg text-center" type="button">
      Download <i class="fa fa-download fa-1x"></i>
    </button>
    <button class="btn btn-primary btn-lg text-center" type="button">
      Learn More <i class="fa fa-file fa-1x"></i>
    </button>
  </div>
</div>

<div class="container-fluid mt-4 mb-4">
  <h3 class="text-center display-5 ">Features</h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/pass_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Secure Password Management</h5>
            <p class="card-text">
              Effortlessly organize, access, and secure all your passwords,
              ensuring your online accounts stay protected.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/generator_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Strong Password Generation</h5>
            <p class="card-text">
              Generate complex, virtually uncrackable passwords with ease,
              bolstering your online security against threats.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/enc_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Robust Encryption</h5>
            <p class="card-text">
              Utilize advanced encryption techniques to fortify the safeguarding
              of your sensitive data, providing you with peace of mind in an
              increasingly digital world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-4 mb-4">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-dark mb-3">
        <div class="card-header display-5 text-center">Why You Should Use a Password Manager</div>
        <div class="card-body text-dark">
          <h5 class="card-title">1. Enhanced Security</h5>
          <p class="card-text">Using a password manager is like having a personal vault for your online accounts. It generates strong, unique passwords for each website and securely stores them. This means you don't have to remember complicated passwords or resort to using the same one everywhere, reducing the risk of hackers gaining access to your accounts. Plus, many password managers offer features like two-factor authentication, further bolstering your online security.</p>
          <h5 class="card-title">2. Simplified Life</h5>
          <p class="card-text">Remembering multiple passwords can be a hassle, but a password manager simplifies your online life. With just one master password to remember, you can access all your stored credentials effortlessly. It saves you time, reduces frustration, and allows you to focus on what matters most - whether it's work, leisure, or both. So, don't stress over password management; let a password manager do the heavy lifting for you!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<div class="container-fluid mt-4 mb-4">
  <h3 class="text-center">Install & Host </h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/docker_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Host with Docker </h5>
            <p class="card-text">
              Effortlessly organize, access, and secure all your passwords,
              ensuring your online accounts stay protected.
            </p>
            <div class="container text-center">
              <button class="btn mr-2 mb-2 btn-primary btn-lg text-center" type="button">
                Download <i class="fa fa-download fa-1x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/ubuntu_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Host with Ubuntu</h5>
            <p class="card-text">
              Generate complex, virtually uncrackable passwords with ease,
              bolstering your online security against threats.
            </p>
            <div class="container text-center">
              <button class="btn mr-2 mb-2 btn-primary btn-lg text-center" type="button">
                Download <i class="fa fa-download fa-1x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../static/img/wind_docker_img.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Host with Docker on Windows 10</h5>
            <p class="card-text">
              Utilize advanced encryption techniques to fortify the safeguarding
              of your sensitive data, providing you with peace of mind in an
              increasingly digital world.
            </p>
            <div class="container text-center">
              <button class="btn mr-2 mb-2 btn-primary btn-lg text-center" type="button">
                Download <i class="fa fa-download fa-1x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt-4 mb-4">
  <h3 class="text-center display-5">Testimonials</h3>
  <div class="container">
    <div class="row justify-content-center">
      <!-- Testimonial 1 -->
      <div class="col-md-4">
        <div class="card testimonial-card">
          <img src="../../../static/img/usr1_img.png" class="card-img-top " alt="John Doe">
          <div class="card-body">
            <p class="card-text">
              "I've been using PMK for a year now, and it's made managing my passwords a breeze. I feel much more secure online."
            </p>
          </div>
          <div class="card-footer">
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x"></i>

          </div>
        </div>
      </div>

      <!-- Testimonial 2 -->
      <div class="col-md-4">
        <div class="card testimonial-card">
          <img src="../../../static/img/usr3_img.png" class="card-img-top " alt="Jane Smith">
          <div class="card-body">
            <p class="card-text">
              "PMK's password generator is fantastic. I now have strong, unique passwords for all my accounts."
            </p>
          </div>
          <div class="card-footer">
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x"></i>         </div>
        </div>
      </div>

      <!-- Testimonial 3 (Add more testimonials as needed) -->
      <div class="col-md-4">
        <div class="card testimonial-card">
          <img src="../../../static/img/usr2_img.png" class="card-img-top " alt="Alex Johnson">
          <div class="card-body">
            <p class="card-text">
              "I can't imagine my online life without PMK. It's a must-have tool for anyone concerned about security."
            </p>
          </div>
          <div class="card-footer">
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>
            <i class="fa fa-star fa-1x" style="color: yellow;" ></i>
            <i class="fa fa-star fa-1x" style="color: yellow;"></i>      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 mb-4">
  <h3 class="text-center display-5">FAQs</h3>
  <div class="container">
    <div class="accordion" id="faqAccordion">
      <!-- FAQ Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1">
            How do I get started with PMK?
          </button>
        </h2>
        <div id="faqCollapse1" class="accordion-collapse collapse" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            To get started with PMK, follow these simple steps: [Provide instructions here]
          </div>
        </div>
      </div>

      <!-- FAQ Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
            Is PMK compatible with all operating systems?
          </button>
        </h2>
        <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, PMK is compatible with Windows, macOS, Linux, and mobile devices. It offers cross-platform support.
          </div>
        </div>
      </div>

      <!-- FAQ Item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
            Can I use PMK on multiple devices?
          </button>
        </h2>
        <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, you can use PMK on multiple devices. It offers synchronization across devices, allowing you to access your passwords and data from anywhere.
          </div>
        </div>
      </div>

      <!-- FAQ Item 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
            How does PMK protect my passwords from security breaches?
          </button>
        </h2>
        <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            PMK employs state-of-the-art encryption and security measures to protect your passwords and data. It uses strong encryption algorithms to ensure your information remains secure even in the event of a breach.
          </div>
        </div>
      </div>

      <!-- FAQ Item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
            What happens if I forget my PMK master password?
          </button>
        </h2>
        <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            If you forget your PMK master password, there is no way to recover it, as PMK does not have access to your master password or your data. It is essential to remember your master password, and you may want to consider using a password manager that offers account recovery options.
          </div>
        </div>
      </div>

      <!-- FAQ Item 6 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
            Can I import my existing passwords into PMK?
          </button>
        </h2>
        <div id="faqCollapse6" class="accordion-collapse collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, PMK provides the option to import your existing passwords from other password managers or browser extensions. This simplifies the transition to PMK and ensures all your passwords are securely stored in one place.
          </div>
        </div>
      </div>

      <!-- Add more FAQ items as needed -->
    </div>
  </div>
</div>




<br />
<br />
{% endblock %}
<!-- Ends the 'content' block. -->

{% load static %}
<!-- Loads the 'static' template tag library again (typically, you only need to load it once per template). -->
